---
layout: default
---

{%- for post in paginator.posts -%}
  <div class="content-area">
    {%- include article-preview.html article=post -%}
  </div>
{%- endfor -%}

{%- if paginator.total_pages > 1 -%}
  <div>
    <ul class="pagination">
      {%- if paginator.previous_page -%}
      <li>
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;</a>
      </li>
      {%- endif -%}

      <li>
        <a href="{{ site.paginate_path | relative_url | replace: 'page:num/', '' }}">First</a>
      </li>

      {% for page in (1..paginator.total_pages) %}
      <li class="pagination-item {% if page == paginator.page %}pagination-selected{% endif %}">
        {% if page == 1 %}
        <a href="{{ site.paginate_path | relative_url | replace: 'page:num/', '' }}">{{ page }}</a>
        {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      </li>
      {% endfor %}

      <li>
        <a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.total_pages }}">Last</a>
      </li>

      {% if paginator.next_page %}
      <li>
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&rarr;</a>
      </li>
      {% endif %}
    </ul>
  </pagination>
{% endif %}
