<footer class="site-footer">
  <div class="site-footer-left">
  </div>
  <div class="site-footer-center">
    {%- include info_copyright.html -%}
  </div>
  <div class="site-footer-right">
    <div class="t-small">
    {%- include info_published.html -%}
    {%- include info_powered.html -%}
    </div>
  </div>
</footer>
<script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" integrity="sha384-9/D4ECZvKMVEJ9Bhr3ZnUAF+Ahlagp1cyPC7h5yDlZdXs4DQ/vRftzfd+2uFUuqS" crossorigin="anonymous"></script>
