<header class="site-header">
  <a class="header-logo" href="{{ "/" | relative_url }}">{{ site.title }}</a>
  <input type="checkbox" id="header-nav-toggle" class="header-nav-toggle"/>
  <nav class="header-nav">
    <ul class="header-nav-list">
      {%- assign site_pages = site.pages | where: "navbar_in", true -%}
      {%- for page in site_pages -%}
      <li style="order: {{ page.navbar_order | default: 10 }}">
        <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
      </li>
      {%- endfor -%}
      <li style="order: 100"><a href="{{ "/feed.xml" | relative_url }}"><i class="fas fa-rss"></i></a></li>
    </ul>
  </nav>
  <label for="header-nav-toggle" class="header-nav-toggle-label">
    <span></span>
  </label>
</header>
